@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, black, #D1E5F0);
}

body {
  position: relative;
  isolation: isolate;
}

main {
  position: fixed;
  inset: 0;
  z-index: 2;
  color: #ffffff;
  padding: 40px;
  box-sizing: border-box;
}

canvas {
  display: block;
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.title {
  position: relative; 
  text-align: left; 
  font-family: "DM Sans", sans-serif;
}
#tittle {
  font-size: clamp(24px, 1vw, 32px);   
  color: #D16297;
  margin-bottom: 0px; 
  margin-top: 0px; 
}
#subtitle {
  color: #585858;
  font-size: clamp(24px, 1vw, 32px); 
  margin-top: 0; 
  margin-bottom: 0; 
}

.description {
  position: absolute;
  bottom: clamp(16px, 1vh, 40px); 
  left: 40px;
  top: 3vh; 
  text-align: left; 
  font-family: "DM Sans", sans-serif;
}

#cta1 {
  margin: 0; 
  font-size: clamp(32px, 2vw, 64px);   
  color: #D16297;
}
#cta2 {
  color: #585858;
  font-size: clamp(32px, 2vw, 64px); 
}
#quote {
  margin-top: 20px; 
  font-size: clamp(12px, 2vw, 16px); 
  max-width: 600px; 
}

#blurRect {
  position: absolute;
  top: -10vh; 
  left: -50vw; 
  height: 30vh; 
  width: 100%;    
  background-color: #131313; 
  filter:blur(100px);
}

#blurRect2 {
  transform: rotate(25deg);
  position: absolute;
  bottom: -30vh;
  left: -10vw;  
  height: 45vh; 
  width: 100%;    
  background-color: #131313; 
  filter:blur(140px);
}

#blurRect3 {
  transform: rotate(-25deg);
  position: absolute;
  bottom: -30vh;
  right: -10vw;  
  height: 45vh; 
  width: 100%;    
  background-color: #131313; 
  filter:blur(140px);
}

.top, .bottom {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1vw, 24px); 
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 65vh;
  width: 100vw; 
  color: #D16297;
}

.top {
  top: 18vh; 
}

.bottom {
  bottom: 18vh; 
}

#note {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1vw, 16px); 
  position: relative; 
  transform: translate(90vw, 83vh);
  display: flex;
  flex-direction: column;
  row-gap: 2.75vh;
}

.highlight {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1vw, 16px);
  color: #D16297;
}

#quote {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1vw, 16px);
  position: absolute;
  bottom: 5vh;
}
#instruction {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(12px, 1vw, 16px);
  position: absolute;
  top: 18vh;
  color: white; 
}